nav{
    width: 100vw;
    height: 4rem;
    background-color: #A5F1E9;
    box-shadow: 0 .3rem .5rem rgba(128, 128, 128,.5);
    padding-inline:1rem;
    position: fixed;
    top:0;
    z-index: 9;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo img{
    width: inherit;
}
.nav__logo{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    overflow: hidden;
}
.nav__menu{
    display: flex;
    gap: 1.5rem;
}
.nav__menu li{
    list-style: none;
}
.nav__menu a{
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .1rem;
    font-weight: 800;
}

@media screen and (max-width:1064px){
    .nav__menu{
    gap:1rem;
    }
    .nav__menu a{
        font-weight: normal;
        letter-spacing: normal;
    }
}
@media screen and (max-width:1024px) {
    .nav__menu{
        display: none;
    }
    
  }
